*{
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;    
}

/*------ etiquetas semanticas----- */

body{
    
    border:1px solid #030303;
    margin:1% 15% ;
}
h1{
    display: flex;
    justify-content: center;
    /* border: 2px solid saddlebrown; */
}

header{ 
    display: flex;
    flex-direction: column;
    /* border: 2px solid violet;   */
    margin: 7px;
    padding: 5px;
    
}
nav{
    display: flex;
    align-items: flex-start;
    align-self: center;
    flex-wrap: wrap;
    font-size: 20px;
    margin: 5px;
    padding: 2px;
    /* border: 2px solid rebeccapurple;  */
}
main{
    display: flex;
    flex-direction: column;    
    /* border: 2px solid lightcoral;      */
}
section{
    /* border: 2px solid greenyellow; */
    display: flex;
    flex-direction: column;
}
h2{
    font-size: 30px;
    /* border: 2px solid blue; */
    padding: 10px; 
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #e8f18c;
}
h3{
    font-size: 20px;
    margin: 10px;
}
footer{
    /* border: 2px solid mediumpurple; */
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 20px;
    color: #e8f18c;
    background-color: #030303;
}



/* ----------clases/id------------  */
.barraSuperior{
    display: flex;
    flex-direction:row ;
    justify-content: flex-start;
    background-color: #030303;
}
.titulo {
    font-size: 50px;
    padding: 30px 100px 50px;
    /* border:2px solid #030303; */
    order: 2;
    color: #e8f18c;
}
.logo{
    display: flex;
    height: 160px;    
    border-radius: 5%;
    background-color: black;
    padding-left: 20%;
}
#pag{
    background-color: hsla(175, 40%, 61%, 0.729);
}
.btnNav{
    border-radius: 10%;
    text-decoration: none;
    padding: 5px;
    color:black;
    background-color: #e8f18c;
    border: 1px solid #030303;
    margin: 10px;
    cursor: pointer;
    transition: all 500ms ease-out;
}
.btnNav:hover{
    /* background-color: #dbf2f0ba; */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    transform: scale(1.3);
}
/* ----- inicio banner ----- */
.banner{
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.banner ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}
.banner li{
    width: 100%;
    list-style-type: none;
}
.banner img{
    width: 100%;
    height: 100%;
}
@keyframes cambio{
0% {margin-left: 0;}
20%{margin-left: 0;}

25%{margin-left: -100%;}
45%{margin-left: -100%;}

50%{margin-left: -200%;}
70%{margin-left: -200%;}

75%{margin-left: -300%;}
100%{margin-left: -300%;}

}
/* ---- fin de banner ------*/
.contenedor{
    display: flex;
    flex-direction: column;
    /* border: 2px solid teal; */
    margin: 0% 15% ;
}
.parrafos{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    text-indent: 1.5em;
   

}
.titulado{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid teal; */
    margin: 2% 15% ;
}
li{ margin: 5px;}
ul{margin: 5px;}
ol{margin: 20px;}