*{
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    
}

/*------ etiquetas semanticas----- */


h1{
    /* border: 2px solid saddlebrown; */
}

header{ 
    display: flex;
    flex-direction: column;
    /* border: 2px solid violet;   */
    margin: 7px;
    padding: 5px;
    
}
nav{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 30px;
    margin: 90px 7px 7px 15px;
    padding: 5px;
    /* border: 2px solid rebeccapurple;  */
     
    
}
main{
    display: flex;
    /* border: 2px solid lightcoral; */
    flex-direction: column;
    align-items: center;
}
section{
    /* border: 2px solid greenyellow; */
    display: flex;
    flex-direction: column;
}
h2{
    font-size: 60px;
    /* border: 2px solid blue; */
    padding: 10px; 
    align-self: center;
}
h3{
    font-size: 40px;
    margin: 10px;
}
footer{
    /* border: 2px solid mediumpurple; */
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 30px;
}



/* ----------clases/id------------  */

.titulo {
    font-size: 60px;
    display: block;
    position: relative;
    left: 400px;   
    top: 40px;
    margin: 10px 0px 90px 0px;
}
.logo{
    display: block;
    height: 250px;    
    border-radius: 10%;
    position: absolute;
    top: 10px;
    left: 30px;
    background-color: black;
}
#pag{
    background-color: #dbf2f0ba;
}
.btnNav{
    border-radius: 10%;
    text-decoration: none;
    padding: 10px;
    color:black;
    background-color: #e8f18c;
    border: 2px solid #030303;
    margin: 20px;
}

.banner{
    display: flex;
    align-self: center;
    

}
.contenedor{
    align-items: flex-start;
    font-size: 25px;
    /* border: 2px solid teal; */
    margin-left: 600px;
    margin-right: 600px;
}
.parrafos{
    margin: 10px;
    padding: 10px;
    font-size: 30px;
}


