/*
.nav-mod{
    margin-right: 5rem;
    font-size: 20px;

}



.search-container{
    display: flex;
    justify-content: center;
}



.card-modi{
 
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    padding: 5px;
    margin: 10px;
    border: 1px solid rgb(239, 217, 219);
    border-radius: 1%;
}
.card-cont-img{
    
    display: flex;
    height: 50%;
}

.card-img{
    
    display: flex;
    width: 100%;
    height: 100%;
} */

/* .card-info{
    padding: 10px;
    height: 50%;
}
.card-titulo{
    height: 20%;
}
.card-parrafo{
    height: 40%;
}



/* 
.link{
    display: flex;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%  ;
    text-decoration: none;
    padding: 4px;
    margin: 0px 2rem;

} */
/* 
 */
